@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@300;400;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
:root {
    --color-salmon: #E5707E;
    --color-verde: #A3DDCB;
    --color-amarillo: #E8E9A1;
    --tipo-poppins: 'Poppins',
        sans-serif;
    --tipo--mochiy: 'Mochiy Pop P One',
        sans-serif;
}

/*nav*/

.header{
   background-color:var(--color-verde);
   height: 80px;
   position: fixed;
   z-index: 10;
   top: 0;
   left: 0;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 1fr);
}
.nav{
   grid-column: 4/8;
   grid-row: 1/2;
   align-items: center;
   margin-top: 20px;
}
img{
    height: 200px;
    padding: 10px;
    grid-column: 2/3;
}
.hero__nav{
    grid-column: 4/8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link{
    background-color: var(--color-amarillo);
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 15px;
}
.nav__link:hover{
    background-color: #A3DDCB;
    color: #E5707E;

}

/*piano*/
.content{
    margin: auto;
    margin-top: 80px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
}
.tittle{
    font-size: 4em;
    margin-bottom: 20px;
    font-family: var(--tipo--mochiy);

}

.piano{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    border-radius: 30px;
    margin: 15px;
}
.tecla-blanca{
   height: 500px;
   width: 75px;
   border: 2px solid black;
   background-color: #ffffff;
   border-radius: 5px 5px 5px 5px;
}
.tecla-negra{
   border: 2px solid black;
   background-color: #E5707E;
   height: 300px;
   width: 70px;
   position: absolute;
   border-radius: 0px 0px 5px 5px;
   
}
.texto_blanco{
    font-size: 2em;
    font-family: var(--tipo-poppins);
    margin-top: 350px;
}
.texto_negro{
    font-size: 2em;
    font-family: var(--tipo-poppins);
    margin-top: 200px;
}
.REb4{
    left: 40px;
}
.MIb4{
    left: 120px;
}
.SOLb4{
    left: 265px;
}
.LAb4{
    left: 345px;
}
.SIb4{
    left: 425px;
}
.REb5{
    left: 565px;
}
.MIb5{
    left: 645px;
}

.active{
    background-color: #aaa;
}

.intrucciones__contenedor {
    
    width: 80%;
    margin-top: 15px;
    font-size: 1.5em;
    text-align: center;
    font-family: var(--tipo-poppins);
}

/*footer*/

.footer{
    background-color: var(--color-verde);
    height: 70px;
    bottom: 0;
    width: 100%;
    left: 0;
    position: fixed;
}
.footer__content{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}
.footer__content img{
    width: 100px;
    height: 80px;
    grid-column: 9/10;
    padding: 10px;
    
}
.footer__links{
    grid-column: 2/8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__link{
    text-decoration: none;
    background-color: var(--color-amarillo);
    padding: 5px;
    border-radius: 10px;
    font-size: 1.5em;
    color: black;
    margin-bottom: 15px;
}

@media screen and (max-width: 760px){
    .tecla-blanca {
        height: 400px;
        width: 60px;
        font-size: .5em;
    }

    .tecla-negra {
        height: 250px ;
        width: 50px;
        font-size: .5em;
    }

    .REb4 {
        left: 35px;
    }

    .MIb4 {
        left: 95px;
    }

    .SOLb4 {
        left: 215px;
    }

    .LAb4 {
        left: 275px;
    }

    .SIb4 {
        left: 335px;
    }

    .REb5 {
        left: 450px;
    }

    .MIb5 {
        left: 520px;
    }

    .active {
        background-color: #aaa;
    }


}
